:root {
  --logo-color: #2196f3;
  --second-logo-color: #212121;
  --accent-color: #2196f3;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --text-color: #757575;
  --btn-text-color: #212121;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --color-btn-menu: #f5f4fa;
  --color-hero-btn: #188ce8;
}
html{
  box-sizing: border-box;
}
img{
  display: block;
}
body {
  font-family: roboto, sans-serif;
  color: var(--second-title-color);
}
ul{
  text-decoration: none;
  list-style: none;
}
.list,
.logo,
.link {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.content {
  margin: 0 auto;
  padding: 0 15px 0 15px;
  width: 1200px;
  outline: solid red;
}

/* header */
.header {
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
}
.logo-header{
  margin-right: 93px;
}
.logo-decoration {
  color: var(--logo-color);
}

.link {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.contacts-link,
.tel-link {
  color: var(--text-color);
}
.link.current {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.content-header{
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.nav-list {
  display: flex;
  gap: 50px;
}
.contacts.list {
  margin-left: auto;
  display: flex;
  gap: 50px;
}
/* Секція герой */
.hero {
  text-align: center;
  background-color: #2F303A;
  /* margin: 0 auto; */
}
.hero-title {
  display: inline-block;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin: 0 0 30px 0;
  padding-top: 200px;
  max-width: 696px;
}
.hero-btn {
  display: inline-block
  font-family: "Roboto";
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  background-color: var(--accent-color);
  color: var(--first-title-color);
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
}
.hero-btn-p{
  padding-bottom: 200px;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--color-hero-btn);
}
/* Секція переваги */
.benefits {
  margin: 0;
  padding: 0;
}
.benefits-list{
  display: flex;
  /* align-items: center; */
  gap: 30px;
  padding: 94px 0 94px 0;
}
.title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin: 0;
  padding: 0;
}
.visually-hidden { 
position: absolute; 
width: 1px; 
height: 1px; 
margin: -1px; 
border: 0; 
padding: 0; 
white-space: nowrap; 
clip-path: inset(100%); 
clip: rect(0 0 0 0); 
overflow: hidden; 
}
.benefits-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin: 0 0 10px 0;
  padding: 0;
}
.benefits-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
.benefits-list>li{
  max-width: 270px;
}
/* Чим ми займоємося */
.examples {
}
.examples-title{
  /* margin-top: 94px; */
  margin-bottom: 50px;
}
.examples-list{
  display: flex;
  gap: 30px;
}
/* Секція наша команда */
.team {
}
.team-list{
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
 
}
.team-list li{
  max-width: 270px;
  padding: 0 0 30px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-titleh{
padding-top: 94px;
margin-bottom: 50px;
}
.team-title {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin: 30px 0 10px 0;
  padding: 0;
  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  text-align: center;
}

/* FOoTTEr */
.logo-footer{
  display: block;
  padding-top: 60px;
  margin-bottom: 20px;
}
.logo-footer-tw {
  color: var(--first-title-color);
}
.footer {
  background-color: #2f303a;
}
.contacts-list-footer{
padding-bottom: 30px;
}
.contacts-list-footer>li:not(:last-child){
  display: block;
  margin-bottom: 9px;

}
.contacts-adress {
font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
letter-spacing: 0.03em;
  color: var(--first-title-color);
}
.contacts-footer {
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
  color: var(--contacts-footer-color);
}
/* Портфоліо */
.portfolio {
}
.list-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
  outline: solid orange;
  
}
.portfolio-btn {
  background-color: var(--color-btn-menu);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  /* align-items: center;
  text-align: center; */
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--color-btn-menu);
  background-color: var(--accent-color);
}
.portfolio-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
